@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 96%; /* #f1f5f9 */
    --foreground: 222.2 84% 4.9%; /* #111827 */

    --card: 210 20% 98%; /* #f8fafc */
    --card-foreground: 222.2 84% 4.9%; /* #111827 */

    --popover: 210 20% 98%; /* #f8fafc */
    --popover-foreground: 222.2 84% 4.9%; /* #111827 */

    --primary: 222.2 47.4% 11.2%; /* #1e293b */
    --primary-foreground: 210 40% 98%; /* #f3f4f6 */

    --secondary: 210 40% 96.1%; /* #e2e8f0 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* #1e293b */

    --muted: 210 30% 90%; /* #e5e7eb */
    --muted-foreground: 222.2 40% 20%; /* #374151 */

    --accent: 210 40% 96.1%; /* #e2e8f0 */
    --accent-foreground: 222.2 47.4% 11.2%; /* #1e293b */

    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --destructive-foreground: 210 40% 98%; /* #f3f4f6 */

    --border: 214.3 31.8% 91.4%; /* #d1d5db */
    --input: 214.3 31.8% 91.4%; /* #d1d5db */
    --ring: 212.7 26.8% 83.9%; /* #93c5fd */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* #1e293b */
    --foreground: 210 40% 98%; /* #f3f4f6 */

    --card: 222.2 84% 4.9%; /* #1e293b */
    --card-foreground: 210 40% 98%; /* #f3f4f6 */

    --popover: 222.2 84% 4.9%; /* #1e293b */
    --popover-foreground: 210 40% 98%; /* #f3f4f6 */

    --primary: 210 40% 98%; /* #f3f4f6 */
    --primary-foreground: 222.2 47.4% 11.2%; /* #1e293b */

    --secondary: 217.2 32.6% 17.5%; /* #374151 */
    --secondary-foreground: 210 40% 98%; /* #f3f4f6 */

    --muted: 217.2 32.6% 17.5%; /* #374151 */
    --muted-foreground: 215 20.2% 65.1%; /* #94a3b8 */

    --accent: 217.2 32.6% 17.5%; /* #374151 */
    --accent-foreground: 210 40% 98%; /* #f3f4f6 */

    --destructive: 0 62.8% 30.6%; /* #ef4444 */
    --destructive-foreground: 210 40% 98%; /* #f3f4f6 */

    --border: 217.2 32.6% 17.5%; /* #374151 */
    --input: 217.2 32.6% 17.5%; /* #374151 */
    --ring: 212.7 26.8% 83.9%; /* #93c5fd */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
